@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700;800&display=swap');

body {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    font-family: 'Epilogue', sans-serif;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 5% 7%;
    align-items: center;
}

.header .beta-request,
.intro a {
    padding: 1.25rem 1.875rem;
    border-radius: 0.625rem;
    border: 1px solid var(--black);
    font-weight: 700;
    transition: 0.3s;
}

.beta-request:hover {
    background-color: var(--black);
    color: var(--beige);
}

.main {
    grid-area: main;
}

.hero {
    padding: 3% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../images/image-hero-portrait.png) 60% 70% no-repeat;
    background-size: contain;
    margin-bottom: 6.25rem;
}

.intro h1 {
    font-size: 4.5rem;
    color: var(--black);
    font-weight: 500;
    margin-bottom: 3.125rem;
}

.intro h1 span {
    font-weight: 700;
}

.intro img {
    margin-left: 35%;
}

.intro p {
    margin-bottom: 4.375rem;
}

.intro a {
    border: none;
    background: var(--black);
    color: var(--beige);
}

.intro a:hover {
    background-image: linear-gradient(to right, var(--purple), var(--violet), var(--orange));
}

.footer {
    grid-area: footer;
    padding: 3% 7% 5% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    color: var(--gray);
}

.social-medias {
    display: flex;
    gap: 0.625rem;
}

.social-medias a {
    font-size: 1.5rem;
    transition: 0.3s;
}

.social-medias a:hover {
    color: var(--gray);
}

.benefits > div {
    display: flex;
    flex-direction: column;
    gap: 4.375rem;
}

.benefits h1 {
    color: var(--black);
    font-size: 3rem;
    margin-bottom: 0.625rem;
}

.benefits p {
    color: var(--gray);
    text-transform: uppercase;
    font-weight: 400;
}

.testimonial {
    padding: 5% 7%;
}

.testimonial > article {
    padding: 0 3.125rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    gap: 6.25rem;
    background: var(--black);
    border-radius: 10px;
}

.img-testimonial {
    margin-bottom: -5px;
}

.testimonial h1 {
    color: var(--light-beige);
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 3.125rem;
}

.testimonial h1 span {
    font-weight: 700;
}

.testimonial q {
    font-size: 1.25rem;
    color: var(--beige);
}

.testimonial h3 {
    margin-top: 3.125rem;
    text-transform: uppercase;
    margin-bottom: 0.625rem;
    color: var(--beige);
}

.testimonial p {
    text-transform: uppercase;
    color: var(--beige);
}